
body {
    background-color: lightblue;
}

h1 {
    color: orange;
    font-family: "Times New Roman", Times, serif;
}

#description {
    font-family: "Arial", Helvetica, sans-serif;
    color: white;
    text-align: center;
}

p {
    color: green;
}

li {
    color: orange;
}

table, th, td{
    border: 1px solid black;
}

th {
    background-color: orange;
}

td {
    color: orange;
}